results/
*.so
tmp/
*.o
regression.diffs
regression.out
/sql/range_partitioning--*
!/sql/range_partitioning--*--*.sql

*~
.Rhistory
/sql/ods/pg_popyramids_ods--*.sql
/sql/dms/pg_popyramids_dms--*.sql
/sql/setup/pg_popyramids_setup--*.sql
